* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: 'Roboto',
		sans-serif;
}

/* container */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	overflow-x: hidden;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

/* header */

.header {
	height: 60px;
}

.header__list {
	display: flex;
}

.header__item {}

.header__item:not(:last-child) {
	margin-right: 60px;
}

.header__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #505F98;
}

.header__link:hover {
	text-decoration: underline;
}

.logo {
	font-weight: 900;
	font-size: 26px;
	line-height: 38px;
	color: #37447E;
}

.header__logo {}

.header__buy-link {
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	width: 160px;
	padding: 4px 0;
	border-radius: 5px;
	background-color: #37447E;
	transition: all .1s ease;
}

.header__buy-link:hover {
	background-color: #27305a;
}

.header__menu {
	background-color: #333;
	display: none;
}

.header__burger {}

.header__burger>img {
	width: 35px;
}

/* main */

.main {
	height: 100%;
}

/* about */

.about {
	padding: 215px 0;
	background-image: url(../img/about-bg.svg);
	background-repeat: no-repeat;
	background-position: 100% 75%;
	width: 100%;
	height: 100%;
}

.about__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.title {
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
}

.about__title {
	width: 540px;
	color: #091133;
}

.about__sub-title {
	width: 540px;
	color: #111B47;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin-top: 20px;
}

.about__link-box {
	display: flex;
	margin-top: 70px;
}

.about__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	background-color: #111B47;
	border-radius: 2px;
	padding: 4px;
	border: 2px solid #111B47;
	width: 190px;
	display: block;
	text-align: center;
	transition: all .1s ease;
}

.about__link:first-child:hover {
	background-color: #091133;
	border: 2px solid #091133;
}

.about__link:not(:last-child) {
	margin-right: 30px;
}


.about__link_background {
	background-color: #fff;
	color: #111B47;
	transition: all .1s ease;
}

.about__link_background:hover {
	color: #505F98;
	border: 2px solid #505F98;
}

/* advantages */

.advantages {}

.advantages__container {
	display: flex;
}

.advantages-box {}

.advantages__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
}

.advantages__sub-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
}

.advantages__card-box {
	display: flex;
	margin-top: 80px;
}

.advantages__card:not(:last-child) {
	margin-right: 10px;
}

.card {}

.card__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #091133;
}

.card__text {
	margin-top: 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #5D6970;
}

/* acvantages-2 */
.advantages-2 {
	margin-top: 160px;
}

.advantages-2__container {
	display: flex;
	justify-content: space-between;
}

.advantages-2-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.advantages-2-box>img,
.advantages-3-box>img,
.advantages-4-box>img {
	width: 500px;
	margin-right: 20px;
}

.advantages-2__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
}

.advantages-2__sub-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
	max-width: 450px;
}

.advantages-2__card-box {
	display: flex;
	margin-top: 80px;
}

/* advantages-3 */
.advantages-3 {
	margin-top: 160px;
}

.advantages-3__container {
	display: flex;
	justify-content: space-between;
}

.advantages-3-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.advantages-3__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
}

.advantages-3__sub-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
	max-width: 450px;
}

.advantages-3__card-box {
	display: flex;
	margin-top: 80px;
}

/* advantages-4 */

.advantages-4 {
	margin-top: 160px;
}

.advantages-4__container {
	display: flex;
	justify-content: space-between;
}

.advantages-4-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.advantages-4__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	color: #091133;
}

.advantages-4__sub-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #6F7CB2;
	max-width: 450px;
}

.advantages-4__card-box {
	display: flex;
	margin-top: 80px;
}

.advantages-4__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	background-color: #111B47;
	border-radius: 2px;
	padding: 4px;
	border: 2px solid #111B47;
	width: 190px;
	display: block;
	text-align: center;
	transition: all .1s ease;
	margin-top: 40px;
}

.advantages-4__link:hover {
	background-color: #091133;
	border: 2px solid #091133;
}

/* action */

.action {
	margin-top: 160px;
}

.action__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.action__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	color: #091133;
}

.action__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #6F7CB2;
	margin-top: 15px;
}

.action__price {
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	text-align: center;
	letter-spacing: 1px;
	color: #222F65;
	margin-top: 30px;
}

.sup-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #5D6970;
	display: inline-block;
	margin-top: 60px;
}

.action__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	background-color: #111B47;
	border-radius: 2px;
	padding: 4px;
	border: 2px solid #111B47;
	width: 190px;
	display: block;
	text-align: center;
	transition: all .1s ease;
	margin-top: 5px;
}

.action__link:hover {
	background-color: #091133;
	border: 2px solid #091133;
}

/* footer */

.footer {
	margin-top: 160px;
	background-color: #E7ECFF;
}

.footer__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__box:first-child {
	margin-top: 60px;
	margin-bottom: 40px;
}

.footer__box:last-child {
	border-top: 1px solid #939EA4;
}

.footer__copyright {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #939EA4;
	display: inline-block;
}

.footer__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	background-color: #111B47;
	border-radius: 2px;
	padding: 4px;
	border: 2px solid #111B47;
	width: 190px;
	display: block;
	text-align: center;
	transition: all .1s ease;
	margin-top: 5px;
}

.footer__link:hover {
	background-color: #091133;
	border: 2px solid #091133;
}

.footer__list {
	display: flex;
	margin-top: 20px;
	margin-bottom: 30px;
}

.footer__item {}

.footer__item:not(:last-child) {
	margin-right: 60px;
}

.footer__item-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #505F98;
}

.footer__item-link:hover {
	text-decoration: underline;
}

.footer__socials {
	display: flex;
	align-items: center;
}

.footer__social-item:not(:last-child) {
	margin-right: 30px;
}

/* optimaize */

@media(max-width:1024px) {
	.about:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: rgba(255, 255, 255, 0.3);
		pointer-events: none;
	}

	.about__container,
	.header {
		position: relative;
		z-index: 2;
	}
}

@media(max-width:992px) {
	.advantages-box>img {
		width: 500px;
	}

	.advantages-2-box>img,
	.advantages-3-box>img,
	.advantages-4-box>img {
		width: 400px;
		margin-right: 20px;
	}

	.advantages__title,
	.advantages-2__title,
	.advantages-3__title,
	.advantages-4__title {
		font-size: 30px;
	}

	.advantages__sub-title,
	.advantages-2__sub-title,
	.advantages-3__sub-title,
	.advantages-4__sub-title {
		font-size: 15px;
	}

}

@media(max-width:768px) {
	.advantages__container {
		flex-direction: column-reverse;
		align-items: center;

	}

	.advantages-2__container,
	.advantages-3__container,
	.advantages-4__container {
		flex-direction: column;
		align-items: center;
	}

	.advantages__title,
	.advantages-2__title,
	.advantages-3__title,
	.advantages-4__title {
		font-size: 26px;
		margin-top: 10px;
	}

	.footer__item:not(:last-child),
	.header__item:not(:last-child) {
		margin-right: 30px;
	}


	.footer__box:first-child {
		flex-direction: column-reverse;
	}

	.footer__box:last-child {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.footer__copyright {
		margin-bottom: 20px;
	}

	.footer__link {
		margin-top: 20px;
	}

	.footer__box:first-child {
		margin: 0;
		margin-top: 20px;
	}

	.about__title {
		font-size: 40px;
		width: auto;
	}

	.about__sub-title {
		font-size: 16px;
		width: auto;
	}


}

@media(max-width:576px) {
	.about__link-box {
		flex-direction: column;
	}

	.about__link {
		margin: 0;
	}

	.about__link:not(:last-child) {

		margin-bottom: 15px;
	}

	.about:after {
		bottom: -100px;
	}

	.header__menu {
		display: inline;
	}

	.header__list {
		display: none;
	}

	.header__buy-link {
		width: 100px;
	}

	.about {
		padding: 175px 0;
		background-image: url(/img/about-bg.svg);
		background-repeat: no-repeat;
		background-position: 50% 75%;
		width: 100%;
		height: 100%;
	}
}

@media(max-width:455px) {

	.advantages-2-box>img,
	.advantages-3-box>img,
	.advantages-4-box>img {
		width: 300px;
		margin-right: -30px;
	}
}